<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}">
</head>
<body class="login-page">
    <h2>Login</h2>
    <form method="POST" action="{{ url_for('login') }}">
        <input type="text" name="username" placeholder="Username" required>
        <div class="password-container">
            <input type="password" id="login-password" name="password" placeholder="Password" required>
            <span class="toggle-password" onclick="togglePasswordVisibility('login-password')">👁️</span>
        </div>
        <button type="submit">Login</button>
    </form>

    <!-- Display flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-message">
                <p>{{ messages[0] }}</p>
            </div>
        {% endif %}
    {% endwith %}
    <script>
        function togglePasswordVisibility(inputId) {
            const passwordInput = document.getElementById(inputId);
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }
    </script>
</body>
</html>
