<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}">
</head>
<body class="login-page">
    <h2>Login</h2>
    <form method="POST" action="{{ url_for('login') }}">
        <input type="text" name="username" placeholder="Username" required>
        <div class="password-container">
            <input type="password" id="login-password" name="password" placeholder="Password" required>
            <img src="{{ url_for('static', filename='icons/eye-crossed.png') }}" 
                alt="Toggle Password Visibility" 
                id="toggle-login-password" 
                class="toggle-password" 
                onclick="togglePasswordVisibility('login-password', 'toggle-login-password')">
        </div>
        <button type="submit">Login</button>
    </form>

    <!-- Display flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-message">
                <p>{{ messages[0] }}</p>
            </div>
        {% endif %}
    {% endwith %}
    
    <script>
        function togglePasswordVisibility(inputId, iconId) {
            const passwordInput = document.getElementById(inputId);
            const toggleIcon = document.getElementById(iconId);

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleIcon.src = "{{ url_for('static', filename='icons/eye-open.png') }}"; // Switch to "eye open" icon
            } else {
                passwordInput.type = "password";
                toggleIcon.src = "{{ url_for('static', filename='icons/eye-crossed.png') }}"; // Switch to "eye crossed" icon
            }
        }
    </script>
</body>
</html>
