<!DOCTYPE html>
<html lang="en">
<head>
    <title>Manage Folders</title>
</head>
<body>
    <h1>Manage Folders</h1>
    <table>
        <tr>
            <th>Folder Name</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
        {% for folder in folders %}
            <tr>
                <td>{{ folder.folder_name }}</td>
                <td>{{ folder.departments.dept_name }}</td>
                <td><a href="{{ url_for('edit_folder', folder_id=folder.folder_id) }}">Edit</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
